/* General */

.display-5 {
  font-size: 3em;
  text-align: center;
  color: #343a40;
  font-weight: bold;
}

.display-6 {
  font-size: 2em;
  text-align: center;
  color: #343a40;
  font-weight: bold;
}

.jumbotron {
  background-color: #c8cbce !important;
  height: 1em;
}

.jumbotron h1 {
  margin-top: -.5em;
}

.container {
  padding-top: 25px;
}

.center {
  height: 33%;
  max-height: 8em;
  margin-top: 10%;
  margin-left: 2em;
}

p {
  text-align: left;
/*margin-right: 6.250em; */
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
  clear: both;
  font-size: 18px;
  line-height: 30px;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Profile */

#profileImg {
  max-width: 100%;
  max-height: 90%;
  height: auto\9;
  width: auto\9;
}

/* Resume */

#resume {
  width: 100%;
  border: 1px solid;
  margin-bottom: 2em;
  text-align: center;
}

#resume_header {
  margin-top: 1em;
  text-align: center;
  clear: both;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3.125em;
}

#resume_link {
  margin-top: 1em;
  text-align: center;
  clear: both;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
}

.about {
  text-align: left;
  margin: auto;
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
}

/*  Projects */

p.project_description {
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
  font-size: 20px;
  margin-bottom: 1.875em;
  clear: both;
}

#others {
  max-width: 1em;
  max-height: 1em;
  padding-bottom: .1em;
}

.social {
  width: 33%;
  max-width: 8em;
  height: 33%;
  max-height: 8em;
  margin-top: 20%;
  margin-left: 2em;
}

/* Lists */

li {
  padding-bottom: .625em;
  font-size: 18px;
}

/* Links */

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

a:hover {
  color: purple;
}
