.social {
  width: 33%;
  max-width: 5em;
  height: 33%;
  max-height: 5em;
  margin-top: 30%;
}

#profileImg {
  margin-bottom: 3em;
  max-width: 75%;
  width=33%;
}

.display-5 {
  font-size: 3em;
  text-align: center;
  color: #343a40;
  font-weight: bold;
}

.jumbotron {
  background-color: #c8cbce !important;
}

#main {
  /* margin: auto; */
}

p {
  text-align: left;
  margin-right: 6.250em;
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
  clear: both;
  font-size: 18px;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#resume {
  width: 100%;
  border: 1px solid;
  margin-bottom: 2em;
}

#resume_header {
  margin-top: 1em;
  text-align: center;
  clear: both;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3.125em;
}

.about {
  text-align: left;
  margin: auto;
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
}

.header {
  text-align: center;
  clear: both;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3.125em;
}

p.project_description {
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
  margin-bottom: 1.875em;
  clear: both;
}

.project_title {
  text-align: left;
}

#current_projects {
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  color: grey;
}

#social_links {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  padding-bottom: .625em;
  font-size: 18px;
}

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

a:hover {
  color: purple;
}
