body {
  padding-top: 54px;
}

p {
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica LT Std Light', 'Helvetica Neue LT Std', Helvetica;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
